[[ -f .envrc.private ]] && source_env .envrc.private

# Only add non private keys, private should go to `.envrc.private`
# Those should be added again in Gitlab CI variables if needed for builds
export XCODE_INSTALL_USER="dev@beamapp.co"
export XCODE_VERSION="13.2.1"
export XCODE_VERSION_FOR_MACOS_12="13.2.1"
export XCODE_VERSION_FOR_MACOS_11="13.2.1"
